html,
body {
  margin: 0;
  padding: 0;
  display: flex;
}

.photo {
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: -1;
}

#back {
  width: 100vmax;
  height: auto;
}

.left {
  width: 50vw;
  color: white;
  text-shadow: 1px 1px 0px blue;
  font-family: arial;
  width: 20vw;
  position: fixed;
  left: 20vw;
  top: 40vh;
}

.leftblank  {
  width: 50vw;
  height: 100vh;
}

.right {
  width: 50vw;
  background-color: black;
  opacity: .7;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.plate {
  background-color: black;
  opacity: .7;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.post {
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-right: solid white;
}

.line {
  margin: 0;
  display: flex;
  align-items: center;
  height: 20vh;
}

.line img {
  height: 5vh;
}

.container {
  color: black;
  background-color: white;
  width: 30vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.time {
  display: flex;
}

.btn-primary {
  font-family: arial;
  text-decoration: none;
  color: black;
  font-size: 5vh;
  background-color: transparent;
  border: none;
}
